body{
    margin: 20px;
    padding: 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#game-background{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:1276px;
    height: 759px;
    background-size: cover;
    background: url("/RolGame/static/img/grass_tile.png");

}
.player{
    width: 80px;
    height: 100px;
    background: url("/RolGame/static/img/mov_front.png");
    background-size: 240px, 100px;
    background-position: 0px 0;
    animation: walking .6s linear infinite;

}


@keyframes walking{
    0%, 32%{
        background-position: -80px 0;
    }
    33%, 65%{
        background-position: -160px 0px;
    }
    66%, 100%{
        background-position: 0px 0px
    }

}

.sprite-bush-1{
    position: absolute;
    width:312px;
    height:332px;
    left:900px;
    top: 300px;
    background: url("/RolGame/static/img/bush_background.png");
    z-index: 5;
}
.sprite-bush-2{
    position: absolute;
    width:312px;
    height:332px;
    right:900px;
    top: 200px;
    background: url("/RolGame/static/img/bush_background.png");
    z-index: 5;
}