body {
    background-color:#C53D3D;
    justify-content: center;
    display: content;

}
div#logo{
    justify-content:center;
}

img {
    width: 500px;
    height:150%;
    margin-left:400px;
}



.box1{
    width: 755px;
    height: 99px ;
    text-align: center;
    font-size: 40px;
    padding: 0 280px;
}


.caja1{
    padding:10px;
    height:50px;
    background-color:#dade22;
    margin:40px;
}
.caja2{
    padding:10px;
    height:50px;
    background-color:#dade22;
    margin:40px;
}

.caja3{
    padding:10px;
    height:50px;
    background-color:#dade22;
    margin:40px;
}