{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css">{% endblock %}

{% block title %}Eligir{% endblock %}   
{% block content %}
    <div class="display-container">


        <h1>ELIGIR TIPO DE POKEMON</h1>
            <div class="scene">
                <div class="tipo_de_pokemon">
                     <img src="/static/img/bulbasaur_front.png">
                     <p class="nombre_de_tipo_de_pokemon">BULBASAUR</p>
               </div>
              <div class="tipo_de_pokemon">
                <img src="/static/img/charmander_front.png">
                    <p class="nombre_de_tipo_de_pokemon">CHARMANDER</p>
              </div>
             <div class="tipo_de_pokemon">
                <img src="/static/img/squirtle_front.png">
                <p class="nombre_de_tipo_de_pokemon">SQUIRTLE</p>
             </div>
            </div>
        <div class = buttons>
        <button class="left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="right" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <button class="eligir">
        <a  class="p3"  href = {{ url_for('game') }} > ELIGIR</a>
        </button>
    </div>
{% endblock %}
{% block JavaScript %} <script src="/static/js/eligir.js"> </script>{% endblock %}