{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css">{% endblock %}

{% block title %}Eligir{% endblock %}   
{% block content %}
    <div class="display-container">
        <form  method="POST">
            <div class =opcion>
                <input type="radio" class = "eligirx" name="eligir" value="Grass">
                <div class = "descriotion-opcion">
                    <img class="opcimg" for="eligir-0" src="/static/img/bulbasaur_front.png">
                    <label  class="labopc" for="Grass">bulbasaur</label><br>
                </div>


            </div>
            <div class =opcion>
                <input type="radio"  class = "eligirx"  name="eligir" value="Grass">
                <div class = "descriotion-opcion">
                    <img class="opcimg" for="eligir-0" src="/static/img/charmander_front.png">
                    <label class="labopc" for="Fire">charmander</label><br>
                </div>
                
            </div>
            <div class =opcion>
                <input type="radio" class = "eligirx"   name="eligir" value="Water">
                <div class = "descriotion-opcion">
                    <img class="opcimg" for="eligir-0" src="/static/img/squirtle_front.png">
                    <label  class="labopc" for="Water">squirtle</label><br>
                </div>
                
            </div>
            

            
            <input id = "subopc" type="submit">
        </form>
       

    </div>
{% endblock %}
