<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style_register.css">
    <title>Document</title>
</head>
<body>
    <header class="head-content">
        <div class="logo-container">
            <img src="/static/img/pokemonLogo.png">
        </div>
        <div class="form-header" method="post">
            <ul class="options">
                <li><a href="/templates/login.html">LOGIN</a> </li>
                <li><a href="/templates/register.html">Registro</a> </li>
                <li>Contacto</li>
            </ul>
        </div>
    </header>
    <main class="game-content">
        <div>

        </div>
    </main>
</body>
</html>