{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css"> {% endblock %}"
{% block title %}Inicial{% endblock %}
{% block content %}

    <div class ="logout">
        <a class ="p2" href = {{url_for('logout') }}>LOGOUT</a>
    </div>

    <div class = "caja-1">

            <img class = "logo" src= "/static/img/logo.png">
            <div class = "rectangulo">
                <p class="p1"> <a class="p3" href = {{url_for('eligir') }} >NUEVO JUEGO</a></p>
            </div>
            <div class = "rectangulo">
                <p class="p1"> <a  class="p3" href = {{url_for('game') }} >CONTINUAR</a></p>
            </div>
            <div class = "rectangulo">
                <p class="p1"> <a  class="p3" href = {{url_for('opciones') }} >OPCIONES</a></p>
            </div>
    </div>
    {% endblock %}
    {% block JavaScript %}
    <script>
    //     var  xml4 = new XMLHttpRequest();
    //     xml4.open('GET',"/initial", true);
    //     xml4.setRequestHeader("Content-type","application/x-www-form-urlencoded");

    // // xml4.onload = function(){
    // //     var dataReply = JSON.parse(this.responseText);
    // // }
    //      senddata = JSON.stringify({'step':'lololololo','is':'lol'})  
    //      xml4.send(senddata)
    </script>

{% endblock %}