{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css"> {% endblock %}"
{% block title %}Juego{% endblock %}
{% block content %}

    <div class="caja2">
        <div class="top">
            <img class = "logo2" src="/static/img/logo.png">  
            <div class ="logout">
                <a class ="p2" href = {{url_for('home') }}>VOLVER</a>
            </div>

        </div>
        <div class ='main1'>
            <div id = "buch1"></div>
            <div id = "buch2"></div>
            <div id = "buch3"></div>
            <div id = "buch4"></div>
            <div id = "buch5"></div>
            <div id = "buch6"></div>
            <div class="player">
                <img class="imgpok" src="/static/img/bulbasaur1_front.png">
            </div>
            <div class ='rectangulo3'>
                <p class="nivel">NIVEL:{{ nivel }}</p>
                <div class="propiedad">
                    <p class="propiedad_nombre">Experencia</p>
                    <div class="rectangulo_propiedad">{{ experencia }}</div>
                </div>
                <div class="propiedad">
                    <p class="propiedad_nombre">Salud</p>
                    <div class='rectangulo_propiedad' id ='propiedad-salud' ></div>
                </div>
            </div>
                <img class="img1" src="/static/img/game.jpg">
        </div>

    </div>
    
{% endblock %}
{% block JavaScript %}

<script>
    salud = document.getElementById('propiedad-salud')
    player_img = document.querySelector(".imgpok")
    saludi = '{{ data.salud }}'
    tipo = '{{ data.tipo }}'
    console.log("tipo - ", tipo)
    console.log("tipo" , tipo)
    salud.style.width= '100%';
    if(tipo == "Fire"){
    player_img.src = "/static/img/charmander_front.png"
    }
    else if (tipo == "Water"){
    player_img.src = "/static/img/squirtle_front.png"
    }
    else{
    player_img.src == "/static/img/bulbasaur_front.png"
    }

   

    // print(session["salud"]);
    

</script>


<script src="/static/js/movement.js"></script> 
{% endblock %}