
{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css"> {% endblock %}"
{% block title %}Login{% endblock %}
{% block content %}
    <form  id="login-form" action="" method="post">
        <div class = "caja-1">
            <img class = "logo" src= "/static/img/logo.png">
            {{form.hidden_tag }}
            <div class = "form-field">
                {{ form.nombre }}
                {% for error in form.nombre.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class = "form-field">
                {{ form.contrasena }}
                {% for error in form.contrasena.errors %} 
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </div>

    </form>
    {% endblock %}