{% extends 'base.html' %}

{% block title %} Entrar {% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">

{% endblock %}

{% block content %}


    <div  id="login-form" action="" method="post">
        <div class = "caja-1">
            <img class = "logo" src= "/static/img/logo.png">
            <div class = "form-fiel">
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% end-for %}
            </div>
            <div class = "rectangulo">
                {{ form.password }}
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% end-for %}
            </div>
            <div class = "rectangulo">
                {{ form.submit() }}
            </div>
        </div>

    </div>


    {% endblock %}