{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css">{% endblock %}

{% block title %}Opciones{% endblock %}   
{% block content %}
    <div class = "caja-1">
        <img class = "logo" src= "/static/img/logo.png">
        <div class = "rectangulo4">OPCIONES</div>   
</div> 
<div class='caja2'>
    <form method="post" id="nombre" >
        {{ form.nombre }}
        {% for error in form.nombre.errors %}
                <span>{{ error }}</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
</div>
<div class='caja2'>
    <img class ="sound_icon" src="/static/img/sound.png">
    <!-- <audio autoplay="" controls="" id="audio">
        <source src="/static/audio/audio.mp3" type="audio/mpeg">
        </source>
    </audio>  -->
    <input id="range" min="0" max="100" value="0" type="range">

</div>

{% endblock %}
<!-- {% block JavaScript %} <script src ="/static/js/audio.js" ></script>{% endblock %} -->