{% extends 'base.html' %}
{% block stylesheets %} <link rel="stylesheet" href="/static/style1.css"> {% endblock %}"
{% block title %}Register{% endblock %}
{% block content %}
    <div class = "caja-1">
        <img class = "logo" src= "/static/img/logo.png">
        <form  id="register" action="/register" method="post">
            {% for field, errors in form.errors.items() %}
            {{ ', '.join(errors) }}
            {% endfor %}
            <div class = "form-field">
                {{ form.nombre }}
                {% for error in form.nombre.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class = "form-field">
                {{ form.contrasena }}
                {% for error in form.contrasena.errors %} 
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class = "form-field">
                {{ form.email }}
                {% for error in form.email.errors %} 
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% for error in form.errors.items() %} 
                {{ error }}
            {% endfor %}
            
            <div>
                {{ form.submit() }}
            </div>
        </form>

    </div>
{% endblock %}