<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/battle.css">
    <title>Panel Battle</title>
</head>
<body>
    <div class="panel">
        <div class="pokemon1"></div>
        <div class="pokemon2"></div>
        <div class="hp_1">20</div>
        <div class="hp_2">20</div>
        <div class="show_attack">
            <ol class="choose_attack">
                <li class="attack1"><button type="a_button">Attack</button></li>
                <li class="attack2"><button type="a_button">Attack</button></li>
                <li class="attack3"><button type="a_button">Attack</button></li>
                <li class="attack4"><button type="a_button">Attack</button></li>
            </ol>
        </div>
    </div>
</body>
</html>