{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style_main.css', v=1)}}">

{% endblock %}

{% block content %}
    <header class="head-content">
        <div class="logo-container">
            <img src="/static/img/pokemonLogo.png">
        </div>
        <div class="form-header" method="get">
            <ul class="options">
                <li><a href="{{ url_for('login') }}">LOGIN</a> </li>
                <li><a href="{{ url_for('register') }}">Registro</a> </li>
                <li>Contacto</li>
            </ul>
        </div>
    </header>
   {% endblock %}
